.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 120rem;
  justify-content: space-evenly;

  &--flex {
    display: flex;
    flex-direction: row;
  }

  // &--calendar {
  //   display: flex;
  //   flex-wrap: wrap;
  //   // justify-content: space-evenly;
  //   padding: 0;
  // }
}